%h1 #{@user.name}のページ

%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email

%div#menu
  %ul
    %li
      %p 1
    %li
      %p 2
    %li
      %p 3
%div#tab

  %div.selected
    %table
      %thead
        %tr
          %th Task ID
          %th Title
          %th Description

      %tbody
        - @tasks.registered.each do |task|
          %tr
            %td= task.id
            %td= task.title
            %td= simple_format(task.description)
  %div

    %table
      %thead
        %tr
          %th Task ID
          %th Title
          %th Description

      %tbody
        - @tasks.assigned.each do |task|
          %tr
            %td= task.id
            %td= task.title
            %td= simple_format(task.description)
  %div

    %table
      %thead
        %tr
          %th Task ID
          %th Title
          %th Description

      %tbody
        - @tasks.completed.each do |task|
          %tr
            %td= task.id
            %td= task.title
            %td= simple_format(task.description)

%br

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Todoの登録', new_task_path
\|
= link_to 'Back', users_path
